.key-features-table-main-outer-container {
  width: 100%;
  max-width: 1000px;
  background-color: transparent;
  height: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.key-features-table-element-holder {
  background-color: transparent;
  margin: 2px;
  display: grid;
  grid-template-columns: 40% 55%;
  grid-gap: 5%;
  height: auto;
  word-wrap: break-word;
  border-bottom: 2px solid var(--en-faded-color);
  padding: 2px;
  position: relative;
}

.key-features-table-element-holder::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  opacity: 0.05;
}

.key-features-table-element-holder:hover::after {
  background-color: var(--en-faded-color);
}
